<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="service">
  <div class="row size-container">
    <h3 class="text-center size-h wow bounceInUp"> Nuestros Servicios </h3>
    <div class="col-xs-12 col-sm-12 col-md-4 text-center wow bounceInUp">
      <%= image_tag("img2.jpg", class:'img-responsive img-thumbnail size-img', :alt => "Seguimiento y control", :width => 300, :height => 150) %>
      <h4 class="colorFontText">Seguimiento y Control</h4>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 text-center wow bounceInUp">
      <%= image_tag("img3.jpg", class:'img-responsive img-thumbnail size-img', :alt => "Desarrollo de proyectos mineros", :width => 300, :height => 150) %>
      <h4 class="colorFontText">Desarrollo de Proyectos Mineros</h4>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 text-center wow bounceInUp">
      <%= image_tag("img4.jpg", class:'img-responsive img-thumbnail size-img', :alt => "Estimación de costos", :width => 300, :height => 150) %>
      <h4 class="colorFontText">Estimación de Costos</h4>
    </div>
  </div>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="projectInfo">
  <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8 size-container wow bounceInUp">
    <h3 class="text-center color">Nuestros Proyectos</h3>
  </div>
</div>

<div class="row hidden-xs hidden-sm" id="project">
    <div class="col-xs-12 col-sm-12 col-md-6" id="project_one">
      <div class="size-projects wow bounceInUp">
        <h3 class="">Antioquia Gold INC.</h3><br>
        <p class="">Estudio conceptual avanzado mina subterranea, plan de inicio de operaciones de minado proyectos cisneros.</p><br>
        <li class="">Revisión del Modelo de Recursos y cálculo de Ley de Corte por Método.</li>
        <li class="">Diseño de Método de Explotación Corte y Relleno.</li>        
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 fix-col-3" id="project_two">
        <div class="size-projects wow bounceInUp">
          <h4 class="">Minera Lincuna SAC</h4>
          <p class="">Mejoramiento del sistema de ventilacion a corto plazo.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 fix-col-3" id="project_three">
        <div class="size-projects wow bounceInUp">  
          <h4 class="">Minera Bateas SAC.</h4>
          <p class="">Diseño e implantación de sistema de ventilacion para plan de expansion. </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 fix-col-6" id="project_four"> 
        <div class="fix-size-projects wow bounceInUp">  
          <h4 class="">Minera Suyamarca – Hochschield Mining</h4>
          <p>Diseño e implantación de sistema de ventilacion principal de la mina subterranea - UP PALLANCATA.</p>
        </div>
      </div>
    </div>
</div>

<div class="visible-xs visible-sm col-xs-12 col-sm-12">
  <div class="row" id="project_one">
    <div class="size-projects wow bounceInUp">
      <h4 class="text-center">Antioquia Gold INC.</h4>
      <p class="text-center">Estudio conceptual avanzado mina subterranea, plan de inicio de operaciones de minado proyectos cisneros.</p>
    </div>
  </div>
  <div class="row" id="project_two">
    <div class="size-projects wow bounceInUp">
      <h4 class="text-center">Minera Lincuna SAC</h4>
      <p class="text-center">Mejoramiento del sistema de ventilacion a corto plazo.</p>
    </div>
  </div>
  <div class="row" id="project_three">
    <div class="size-projects wow bounceInUp">
      <h4 class="text-center">Minera Bateas SAC.</h4>
      <p class="text-center">Diseño e implantación de sistema de ventilacion para plan de expansion.</p>
    </div>
  </div>
  <div class="row" id="project_four">
    <div class="size-projects wow bounceInUp">
      <h4 class="text-center">Minera Suyamarca – Hochschield Mining</h4>
      <p class="text-center">Diseño e implantación de sistema de ventilacion principal de la mina subterranea - UP PALLANCATA.</p>
    </div>
  </div>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="tools">
  <div class="row size-container">
    <h3 class="text-center size-h-2 wow bounceInUp"> Nuestro Equipamento </h3>
    <div class="col-xs-12 col-sm-12 col-md-4 text-center wow bounceInUp">
      <%= image_tag("tools1.jpg", class:'img-responsive img-thumbnail size-img', :width => 300, :height => 150) %>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 text-center wow bounceInUp">
      <%= image_tag("tools2.jpg", class:'img-responsive img-thumbnail size-img', :width => 300, :height => 150) %>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 text-center wow bounceInUp">
      <%= image_tag("tools3.jpg", class:'img-responsive img-thumbnail size-img', :width => 300, :height => 150) %>
    </div>
  </div>
</div>

<div class="col-xs-12 col-sm-12 col-md-12" id="clients">
  <div class="row size-container">
    <h3 class="text-center size-h wow bounceInUp"> Nuestros Clientes</h3>
    <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-3 wow bounceInUp img-res">
      <%= image_tag("volcan-p.png", class:'img-responsive img-size text-center') %>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-3 wow bounceInUp img-res">
      <%= image_tag("antioquia.png", class:'img-responsive img-size text-center') %>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-3 wow bounceInUp img-res">
      <%= image_tag("lincuna.png", class:'img-responsive img-size text-center') %>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-4 wow bounceInUp img-res">
      <%= image_tag("fortuna.gif", class:'img-responsive img-size text-center') %>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-4 wow bounceInUp img-res">
      <%= image_tag("hochschild.png", class:'img-responsive img-size text-center') %>
    </div>
  </div>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="contact">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 size-container">
    <h3 class="text-center size-h wow bounceInUp"> Contáctanos </h3>
    <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-3 wow bounceInUp ctc-info">
      <p>Lima, Perú</p>
      <p>Calle 10 N° 510 Dpto. 101</p>
      <p>Urb. Monterrico, San Borja</p>
      <p><span class="glyphicon glyphicon-phone-alt"> </span>+51 4377743</p>
      <p><span class="glyphicon glyphicon-phone"> </span>+51 971 066 872</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-6 wow bounceInUp">
      <%= form_for @suscription, remote: true  do |f| %>  
        <div class="col-xs-12 col-sm-12 col-md-6">  
          <div class="form-group alert_error">  
            <%= f.text_field :fullname, placeholder: 'Tu nombre', class: 'form-control' %>
          </div>
          <div class="form-group alert_error">
            <%= f.text_field :email, placeholder: 'Tu email', class: 'form-control' %>
          </div>
          <div class="form-group alert_error">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
              <%= f.text_field :phone, placeholder: 'Tu teléfono / celular', class: 'form-control' %>
              <!-- <input type="text" class="form-control" id="inputGroupSuccess4" aria-describedby="inputGroupSuccess4Status"> -->
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
          <div class="form-group alert_error">
            <%= f.text_area :comment, placeholder: 'Tu comentario', class: 'comment form-control' %>
          </div>
          <div class="form-group">
            <%= f.submit 'Envia tu mensaje',class: 'button btn btn-block btn-warning' %>
          </div>
        </div>
      <% end %>
      <div class="message-alert col-xs-12 col-sm-12 col-md-12 col-lg-12">
      </div>
    </div>
  </div>
</div>